In [20]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

preop_imaging_df = pd.read_excel('Data/imaging_data.xlsx')

In [21]:
preop_imaging_df.head()

,Date of Procedure,Patient ID,Age,Gender,Surgical Findings,Surgical Cure,SPECT/CT,Ultrasound,4D CT Scan,Sestamibi,MRI
0,2012-04-24,156895,77,F,Right Inferior,Yes,NaN,NaN,NaN,Right Inferior,Right Inferior
1,2012-05-08,182059,70,F,Left Inferior,Yes,NaN,Non-localizing,NaN,Non-localizing,Right Inferior
2,2012-05-22,150593,65,F,Left Inferior,Yes,NaN,Left Inferior,NaN,Left Inferior,NaN
3,2012-07-03,183346,69,F,"Left Superior, Right Superior",Yes,NaN,NaN,NaN,Left Inferior,Non-localizing
4,2012-07-18,183255,74,F,Left Superior,Yes,NaN,Left,NaN,Left,NaN

In [22]:
preop_imaging_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405 entries, 0 to 404
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date of Procedure  405 non-null    datetime64[ns]
 1   Patient ID         405 non-null    int64
 2   Age                403 non-null    object
 3   Gender             405 non-null    object
 4   Surgical Findings  405 non-null    object
 5   Surgical Cure      405 non-null    object
 6   SPECT/CT           230 non-null    object
 7   Ultrasound         145 non-null    object
 8   4D CT Scan         228 non-null    object
 9   Sestamibi          174 non-null    object
 10  MRI                15 non-null     object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 34.9+ KB

In [23]:
preop_imaging_df.shape

(405, 11)

In [24]:
preop_imaging_df.columns

Index(['Date of Procedure', 'Patient ID', 'Age ', 'Gender',
       'Surgical Findings', 'Surgical Cure', 'SPECT/CT', 'Ultrasound',
       '4D CT Scan', 'Sestamibi', 'MRI'],
      dtype='object')

In [25]:
preop_imaging_df.isnull().sum()

Date of Procedure      0
Patient ID             0
Age                    2
Gender                 0
Surgical Findings      0
Surgical Cure          0
SPECT/CT             175
Ultrasound           260
4D CT Scan           177
Sestamibi            231
MRI                  390
dtype: int64